.formContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  bottom: 50px;

}

input {
  padding: 10px;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Un fond blanc semi-transparent pour rendre l'input visible */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
}

input, select {
  padding: 10px;
  margin: 10px 0;
  width: 100%; /* Prend toute la largeur de son conteneur */
  max-width: 400px; /* Largeur maximale des inputs */
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

input[type="button"] {
  cursor: pointer;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  input, select {
    max-width: 90%; /* Réduit la largeur sur petits écrans */
  }
}