:root {
  --white: #ffffff;
  --terracotta: #e2725b;
  --peach: #ffdab9;
  --pinkshade: #d7d0cd;
  --lightbrown: #9d755c;
  --brown: #7e5d50;
  --darkbrown: #4a3931;
  --graybrown: #94807a;
  --mono: "Courier New", monospace;
  --display: "Arial", sans-serif;
}

